.header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 60px;
	color: #0fbcf9;
	background-color: #fff;
	border-bottom: 1px solid #0fbcf9;
	font-family: Roboto;
}

i {
	color: #0097e6;
}

.header-text {
	padding: 10px;
	margin: 0;
	font-weight: 300;
	padding-left: 25px;
}